<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae delectus officia unde nam alias accusantium nesciunt architecto culpa minima eum temporibus laborum cum rerum eius, pariatur illum veniam dolore repudiandae distinctio deleniti modi quasi placeat a dolor! Quos, deleniti blanditiis!</p>
    </div>
</div>