
<div class="jumbotron mt-4">
    <h1 class="display-4">
        Notes app nodejs and mogodb
    </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur,
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex, atque libero molestias quo officia laborum vitae, laboriosam nisi consequuntur, necessitatibus consequatur voluptatem dolore vel! Quam voluptatibus ea velit at.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>