{{#each errors }}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
         {{msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

{{/each}}

<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-body">
            <form action="/user/signin" method="POST">

            <div class="form-group mt-4">
                <label for="custom-1">Email</label>
                <input value="{{email}}"  name="email" type="email" class="form-control" id="custom-1" placeholder="Email">
            </div>

            <div class="form-group mt-4">
                <label for="custom-2">Password</label>
                <input value="{{password}}" name="password" type="password" class="form-control" id="custom-2" placeholder="Password">
            </div>

            <div class="form-group mt-4"><button type="submit" class="btn btn-primary">Submit</button></div>
        
            </form>
        </div>
    </div>
</div>